.color {
	.head {
		display: flex;
		flex-direction: column;
		margin: 30px 0;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0px;
		
		.title {
			font-size: xx-large;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.config {
			width: 50%;
			display: flex;		
			justify-content: center;

			.config-item {
				display: flex;
				align-items: center;

				span {
					text-transform: capitalize;
					margin-right: 7.5px;
				}
			}
		}
	}

	.palette {
		display: flex;
		flex-wrap: wrap;
	}
}