body {
  margin: 0;
  font-family: sans-serif;    
  /*
  #C6EA8D → #FE90AF cactus
  #EE9CA7 → #FFDDE1 piglet
  */
  /*background-image: linear-gradient(to left, #FFDDE1, );*/
  /*background-color: #FFDDE1;*/
}

code {
  background-color: #323232;
  color: #f4f4f4;
  font-family: monospace;
}